
    <% include head %>
    
    <div id="container" class="account">
        <div id="account_info" class="inverse">  
            <% include account_base %>
        </div>
    </div> <!-- container -->
    
    <% include plugins %>
    <% include foot %>