<% include head %>
    <div id="container" class="row">
        <article id="bitcoin_info" class="main jumbotron center" >
           <h2>**FAQ**</h2>

            <h3>What is a "Satoshi"</h3>
            <section>
                1 Satoshi is worth .00000001 Bitcoin. Conversely, each Bitcoin is worth 100000000 (100 Million) satoshi.
                <br />
                On this site, satoshi are often abbreviated as "sat".
            </section>

      <h3>Can I try your site out "for free"?</h3>
            <section>
            YES!  New accounts should start with enough satoshi to buy in at our lowest stakes tables.  Additionally, you can play at any of our "funbucks" tables.  If you ever run out of funbucks, go to <a href="/account">your account page</a> and you can receive more funbucks for free.
                 *free initial satoshi limited to one account per IP address
                 **funbucks are purely play money, non-redeemable
            </section>

                  <h3>What kind of "rake" or "fees" do I need to play on your site?</h3>
            <section>
            None!  We are currently rake-free.  Aside from normal bitcoin transaction fees (0.0001 BTC for withdrawal), we do not currently collect fees.
            </section>

            <h3>My accout says I have Bitcoins/Satoshi (real money).  But at tables, I have chips.  How does this work?</h3>
            <section>  
            When you buy in at a table, your real money buy in amount is instantly converted to chips.  
            When u stand up from a table, your chips at the table are instantly converted back to real money.
            We do this because displaying amounts in small decimals, or large numbers, such as: 0.00001, and 10000000 can be very easy to misread.
            At the top of each table, you will see a display that shows how much each chip is worth.
            </section>

           <h3>What poker games do you offer?</h3>
            <section> No Limit Texas Hold'em.
            </section>

              <h3>How do I play poker?</h3>
            <section>
            If you're new to poker, get some practice at our funbucks tables! 
            Additionally, here are some links to some rules on how to play:
           <a href="http://texas-holdem-rules.flopturnriver.com/">Texas Hold'em rules</a> 
            </section>

            <h3>Is my information private?</h3>
            <section>
            You can play with only a username and password. If you are concerned about your privacy, you do not even need to give your email address.
                 **if you do not supply an e-mail address, we CANNOT recover lost your passwords
            </section>

            <h3>How can I Deposit and Withdraw Bitcoins</h3>
            <section>
                Visit your <a href="/account">account page</a> to deposit and withdraw Bitcoins.
            </section>

            <h3>How can I purchase or sell Bitcoins for paper money?</h3>
            <section>
                <a href="https://en.bitcoin.it/wiki/Category:Exchanges">The Bitcoin wiki</a> has a list of exchanges.
            </section>

            <h3>I've been living under a rock the past year. What is Bitcoin?</h3>
            <section>
                Visit <a href="http://bitcoin.org">bitcoin.org</a> or <a href="https://bitcointalk.org/">the Bitcoin forum</a> to learn everything you want to know.
            </section>

              <h3>I've found a bug, how do I report it?</h3>
            <section>
                Click the <a href="http://bitcoin.org">bug image at the top</a> or email: CryptoPoker@gmail.com.
            </section>

                          <h3>My game is not working in my browser, what do I do?</h3>
            <section>
                We recommend, and do all of our testing on <a href="www.google.com/chrome/">Google Chrome</a>.  
                That being said, this site should work fine with other modern browsers such as Firefox, Safari.
                If you are using Internet Exporer. Don't.
                *user experience may differ between browsers
            </section>


        </article>
    </div>
    <% include plugins %>
<% include foot %>