<% include head %>
    <div id="container" class="row-fluid">
        <article id="bitcoin_info" class="main hero-unit span8 center" >
           <h2> A Short Introduction to Bitcoins</h2>
            <section> Bitcoins are effectively digital cash, with each Bitcoin trading for about 100 USD (as of late July 2013).  Bitcoins are to USD (or other traditional currency) as Bittorrent is to downloading from a server: unforgiving, strict, and virtually untraceable. The currency supply is auto-regulated (currency caps at 21 million bitcoins, but coins are divisible).  No central bank can ever print more bitcoins because they feel like it.  There is also no regulation on transfers (no payment processors needed).
            <a href ="http://en.wikipedia.org/wiki/Bitcoin">http://en.wikipedia.org/wiki/Bitcoin</a>
            </section>
            <h3>True anonymity</h3>
            <section>
                 Players do not need to give their name, or any identifying information
                 Players do not even need to give an email (though they probably should for password recovery)
            </section>
            <h3>Satoshi</h3>
            <section>
                Satoshi are units each worth .00000001 Bitcoin. Conversely, each Bitcoin is worth 100000000 (100 Million) satoshi.
                <br />
                On this site, satoshi are often abbreviated as "sat".
            </section>
            <h3>Deposit and Withdraw Bitcoins</h3>
            <section>
                Visit your <a href="/account">account page</a> to deposit and withdraw Bitcoins.
            </section>
        </article>
    </div>
    <% include plugins %>
<% include foot %>