<% var title = 'Bitcoin Poker- Bitcoin Information'; %>
<% include head %>
    <div id="container">
        <article class="main">
            <h1> Bitcoin Information</h1>

           <h2> A Short Background on Bitcoins</h2>
            <section> Bit coins are effectively digital cash worth (as of late January 2013) about 17 USD for 1 Bitcoin.  Bitcoins are to USD (or other traditional currency) as Bittorrent is to downloading from a server-unforgiving, strict, virtually untraceable, and the currency supply is auto-regulated (currency caps at 21 million bitcoins, but coins are divisible).  No central bank can ever print more bitcoins because they feel like it.  There is also no regulation on transfers (no payment processors needed)
            <a href ="http://en.wikipedia.org/wiki/Bitcoin">http://en.wikipedia.org/wiki/Bitcoin</a>
            </section>
            <h2> What makes this special?</h2>
            <ul>
             <li><h3>True anonymity</h3></li>
                <ul>
             <li>Players do not need to give their name, or any identifying information</li>
             <li>Players do not even need to give an email (though they probably should for password recovery)</li>
                </ul>
             <li><h3>Safety</h3></li>
                <ul>
                 <li>Instant deposit/withdrawal</li>
                 <li>Anonymous, and therefore, “effectively legal” in whatever country of residence a player is playing from.</li>
                 <li>Anal players can cash out immediately when finished, and deposit prior to playing.  This works much like a live casino where one would buy chips, play at the tables, then get cash for the chips prior to leaving.</li>
                 <li>Players do not need to worry that the poker site might “go under,” as there is little to no oversight on withdrawals, so they do not need to store money on the site if they do not want to.</li>
                </ul>
             <li><h3>Legality</h3>
                <ul>
                    <li>The inability of banks to transact payments for poker sites makes this a service USA players desperately need .and are seeking-Americans have no good way to play poker right now (some have even moved to foreign countries)</li>
                    <li>VPN's cannot be used to play online poker from the USA, because the player still needs a foreign bank account to deposit money from, bitcoins solve this problem</li>
                    <li>USA players are owed over $100M from Full Tilt Poker alone (does not count Pokerstars), and are currently not able to play online poker.</li>
                    <li>low rake-poker sites such as FTP and PS had to pay payment processors to process player deposits, and make this up in rake</li>
                    <li>no fees</li>
                </ul>
        </article>
    </div>
    <% include plugins %>
<% include foot %>