<% include head %>
    <h1>Report Bugs</h1>
    <p>
        To report a bug, please send an email to
        <a href="mailto:cryptopoker@gmail.com"> cryptopoker@gmail.com</a>
    </p>
    <% include plugins %>
<% include foot %>