<div id="report_bug" class="dropdown_form">
    <form action="report_bug" method="post" id="bug_form">
        <textarea name="message" rows="10" placeholder="Report bugs and give feedback here." id="report_bug_textarea"></textarea>
        <br />
        <input type="submit" value="submit" id="bug_submit" class="btn btn-default btn-xs" />

        <div id="loader">
            <img src="/img/ajax_loader2.gif" />
        </div>
        <div id="feedback_message">
            Feedback received! Thanks!
            <br />
            This form will self-destruct
            <br />
            in <span id="explode_timer"></span>
        </div>
    </form>
</div>