<% include head %>
  <div id="container" class="inverse">
    <h1>Report Bugs</h1>
    <p>
        To report a bug, please send an email to
        <a href="mailto:cryptopoker@gmail.com"> cryptopoker@gmail.com</a>
    </p>
  </div>
    <% include plugins %>
<% include foot %>