<% var title = 'Bitcoin Poker- Deposit Page'; %>
<% include head %>
    <div>
      To deposit into your account, send Bitcoins to <%= public_address %>
    </div>
    <% include plugins %>
<% include foot %>