<% include head %>
    <div id="container" class="row">
        <article id="faq" class="main jumbotron center" >
        <% include faq_base %>
        </article>
    </div>
    <% include plugins %>
<% include foot %>