<article id= "faq">
   <h1>Frequently Asked Questions</h1>


    <h3>What is a "Satoshi" (sat)?</h3>
        <section>
            1 Satoshi = 0.00000001 Bitcoin. Conversely, 1 Bitcoin = 100,000,000 (100 Million) Satoshi.
        </section>

   <h3>I've been living under a rock the past year. What is Bitcoin (BTC)?</h3>
       <section>
           Bitcoin is a decentralized, digital currency. Visit <a href="http://bitcoin.org">bitcoin.org</a> or <a href="https://bitcointalk.org/">The Bitcoin Forum</a> to learn everything you want to know.
       </section>

    <h3>Can I try your site out for free?</h3>
        <section>
        Yes!  New accounts start with enough Bitcoin to buy in at our lowest stakes tables.  Additionally, you can play at any of our "funbucks" tables.  Funbucks are available for free at <a href="/account">your account page</a>.
           <i> </br> *free initial satoshi limited to one account per IP address</i>
   <!--        <i> </br> **funbucks are purely play money, non-redeemable</i>    -->
        </section>

    <h3>What "rake" or "fees" do I need to pay?</h3>
        <section>
        None!  We are currently rake-free.  We do not currently charge/collect fees.
        <br>
        <i>*when withdrawing, normal <a href="https://en.bitcoin.it/wiki/Transaction_fees">bitcoin transaction fees</a> (0.0001 BTC per transaction) still apply, these fees are collected by the Bitcoin network, not us</i>
        </section>

    <h3>My account says I have Bitcoins/Satoshi (real money).  But at tables, I have chips.  How does this work?</h3>
        <section>  
        <ul>
       <li> <i><b>When you buy in at a table:</i></b> your real money buy in amount is instantly converted to chips.  </li>
       
        <li><i><b>When u stand up from a table:</i></b> your chips at the table are instantly converted back to real money.</li>
       
        <li>We do this because displaying amounts in small decimals, or large numbers, such as: 0.00001, and 10000000 can be very easy to misread.</li>
       
        <li>At the top of each table, you will see a chip to currency ratio display that shows how much each chip is worth.</li>
        <ul>
        </section>

   <h3>What poker games do you offer?</h3>
        <section>
            No Limit Texas Hold'em.
        </section>

    <h3>How do I play poker?</h3>
        <section>
        If you're new to poker, we recommend you get some practice at our funbucks tables! 
        Additionally, here is a link to some rules on how to play: <a href="http://texas-holdem-rules.flopturnriver.com/">Texas Hold'em rules</a> 
        </section>

    <h3>Is my information private?</h3>
        <section>
        You can play with only a username and password. If you are concerned about your privacy, you do not even need to give your email address.
            <br><i> *if you do not supply an e-mail address, we CANNOT CANNOT CANNOT recover lost passwords.</i>
        </section>

    <h3>How can I deposit and withdraw Bitcoins</h3>
        <section>
            To Deposit: Send Bitcoins to your deposit address as listed in your <a href="/account">account page</a>.
            <br>
            To Withdraw: Input your withdrawal address in <a href="/account">your account page</a> and amount to withdraw.
            <br>
           <i> *minimum deposit size: 0.0001BTC</i>
        </section>

                 <h3>I deposited Bitcoins but they do not show up in my account!?!</h3>
        <section>
           All deposits require 1 <a href="https://en.bitcoin.it/wiki/Confirmation">confirmation</a>.  This takes an average of 10 minutes.  If your account is not updated after 25 minutes, please send an e-mail to: CryptoPoker@gmail.com. <i><b>DO NOT include your password.</b></i> But do include as much other information as you can, such as the transaction id, address you sent bitcoins from, etc.
        </section>

    <h3>How can I exchange paper money and Bitcoins?</h3>
        <section>
            <a href="https://en.bitcoin.it/wiki/Category:Exchanges">The Bitcoin wiki</a> has a list of exchanges.
        </section>

    <h3>I've found a bug, how do I report it?</h3>
        <section>
            Click the bug image at the top or email: CryptoPoker@gmail.com.
        </section>

    <h3>My game is not working (at all), what do I do?</h3>
        <section>
        If you are using Internet Explorer. Don't.
            We recommend <a href="http://www.google.com/chrome/">Google Chrome</a>.  Firefox, Safari, or other modern browsers should be fine as well.
            
            </br>
            <i>*User experience may differ between browsers.</i>
        </section>

 <h3>What happens if the server crashes, a nuclear war breaks out, or other event happens causing the server to go down in the middle of a hand?</h3>
        <section>

  <ul>
       <li>All bets that players have made and have not yet entered the pot are refunded</li>      
        <li> Each pot will be split evenly among all contributors to that pot  </li>
        <ul>

     
        </section>

</article>