        <!-- Function to open a popup window http://www.htmlcodetutorial.com/linking/linking_famsupp_72.html -->
        <script>
          function popup(mylink, windowname) {
            if (! window.focus) return true;
            var href;
            if (typeof(mylink) === 'string')
               href = mylink;
            else
               href = mylink.href;
            window.open(href, windowname, 'width=800,height=770 ,left=200,top=200,location=no,toolbar=no,menubar=no,titlebar=no,directories=no,scrollbars=yes');
            return false;
          }
        </script>
      <% if (! locals.hide_navbar) { %>
        <!-- Navbar script (for dropdown animation) -->
        <script>
          $('.navbar li ul').css({
            display: 'none',
            left: 'auto'
          });

          $('.navbar li').hoverIntent(function() {
            $(this)
              .find('ul')
              .stop(true, true)
              .slideDown('fast');

          }, function() {
            $(this)
              .find('ul')
              .stop(true, true)
              .fadeOut('fast');
          });
        </script>

        <!-- Hide/Show Login functionality -->
        <script>
          $(document).ready(function() {
            $('#login').hide();
            $('#login_trigger').click(function() {
              if (! $(this).hasClass('active')) {
                // add active class
                $(this)
                  .addClass('active');
                // hide login form
                $('#login')
                  .css({
                  left: $(this).position().left - $(this).width(), 
                  top: $(this).position().top + $(this).height()
                  })
                  .slideDown();
              }
              else {
                // remove active class
                $(this)
                  .removeClass('active');
                // hide login form
                $('#login')
                  .slideUp();
              }
            });

            $('#login form :submit').click(function() {
              $(this)
                .parent()
                .prev('a')
                .click();
              });
          });
        </script>

        <!-- Hide/Show Register functionality -->
        <script>
          $(document).ready(function() {
            $('#register').hide();
            $('#register_trigger').click(function() {
              if (! $(this).hasClass('active')) {
                // add active class
                $(this)
                  .addClass('active');
                // hide register form
                $('#register')
                  .css({
                  left: $(this).position().left - $(this).width(), 
                  top: $(this).position().top + $(this).height()
                  })
                  .slideDown();
              }
              else {
                // remove active class
                $(this)
                  .removeClass('active');
                // hide register form
                $('#register')
                  .slideUp();
              }
            });
            $('#register form :submit').click(function() {
              $(this)
                .parent()
                .prev('a')
                .click();
              });
          });
        </script>

        <!-- Hide/Show "options" functionality -->
        <script>
          $(document).ready(function() {
            $('#hideshow').on('click', function(event) {
              $('#chat').toggle();
              console.log("Hide show trigger activated!");
            });
          });
        </script>     

      <% } %> 
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
