        <!-- Function to open a popup window http://www.htmlcodetutorial.com/linking/linking_famsupp_72.html -->
        <script>
          function popup(mylink, windowname) {
            if (! window.focus) return true;
            var href;
            if (typeof(mylink) === 'string')
               href = mylink;
            else
               href = mylink.href;
            window.open(href, windowname, 'width=700,height=486 ,left=200,top=200,location=0,toolbar=no,menubar=no,titlebar=no,directories=no,scrollbars=yes');
            return false;
          }
        </script>
      <% if (! locals.hide_navbar) { %>
        <!-- Navbar script (for dropdown animation) -->
        <script>
          $('.navbar li ul').css({
            display: 'none',
            left: 'auto'
          });

          $('.navbar li').hoverIntent(function() {
            $(this)
              .find('ul')
              .stop(true, true)
              .slideDown('fast');

          }, function() {
            $(this)
              .find('ul')
              .stop(true, true)
              .fadeOut('fast');
          });
        </script>

        <!-- Hide/Show Login functionality -->
        <script>
          var $login = $('#login');
          $(document).ready(function() {
            $login.hide();
            $('#login_trigger').click(function(e) {
              $login.stop(true, true);
              if (! $(this).hasClass('active')) {

                // remove active class from register & hide it.
                $('#register_trigger')
                  .removeClass('active');
                $register
                  .hide('slide', { direction: 'up' }, 500);

                // add active class
                $(this)
                  .addClass('active');
                // hide login form
                $login
                  .css({
                    left: $(this).position().left - $(this).width()
                  , top: $(this).position().top + $(this).height()
                  })
                  .show('slide', { direction: 'up' }, 500)
                  .find('input:first').focus();
              }
              else {
                // remove active class
                $(this)
                  .removeClass('active');
                // hide login form
                $login
                  .hide('slide', { direction: 'up' }, 500);
              }
            });

            $login.find('form :submit').click(function() {
              $(this)
                .parent()
                .prev('a')
                .click();
              });
          });
        </script>

        <!-- Hide/Show Register functionality -->
        <script>
          var $register = $('#register');
          $(document).ready(function() {
            $register.hide();
            $('#register_trigger').click(function() {
              $register.stop(true, true);
              if (! $(this).hasClass('active')) {

                // remove active class from login & hide it.
                $('#login_trigger')
                  .removeClass('active');
                $login
                  .hide('slide', { direction: 'up' }, 500);

                // add active class
                $(this)
                  .addClass('active');
                // hide register form
                $register
                  .css({
                    left: $(this).position().left - $(this).width() - 20
                  , top: $(this).position().top + $(this).height()
                  })
                  .show('slide', { direction: 'up' }, 500)
                  .find('input:first').focus();
              }
              else {
                // remove active class
                $(this)
                  .removeClass('active');
                // hide register form
                $register
                  .hide('slide', { direction: 'up' }, 500);
              }
            });
            $register.find('form :submit').click(function() {
              $(this)
                .parent()
                .prev('a')
                .click();
              });
          });
        </script>

        <!-- Hide/Show Bugs/Feedback functionality -->
        <script>
          var $report_bug = $('#report_bug');
          $(document).ready(function() {
            $report_bug.hide();
            $('#report_bug_trigger').click(function() {
              $report_bug.stop(true, true);
              if (! $(this).hasClass('active')) {
                // add active class
                $(this)
                  .addClass('active');
                // hide report_bug form
                $report_bug
                  .css({
                    left: $(this).position().left - 20
                  , top: $(this).position().top + $(this).height()
                  })
                  .show('slide', { direction: 'up' }, 500)
                  .find('input:first').focus();
              }
              else {
                // remove active class
                $(this)
                  .removeClass('active');
                // hide report_bug form
                $report_bug
                  .hide('slide', { direction: 'up' }, 500);
              }
            });

            <!-- ajax for form submission -->
            $report_bug.find('form').submit(function(e) {
              var empty_form = $(this).html(); //$(this) is $report_bug
              // form has been submitted; $(this) is the form
              e.preventDefault();
              console.log('report_bug form submitted!');
              // TODO: add spinner image (replaces submit button?)
              $('#bug_submit').replaceWith($('#loader'));
              $('#loader').show();

              var $message = $(this).find('textarea')
                , message = $message.val();
              $.post('/report_bug', {
                message: message
              }, function(response) {
                console.log('response from server:', response);
                // TODO: remove spinner image
                if (response.success) {
                  // TODO: show "received" message
                  $('#loader').replaceWith($('#feedback_message'));
                  $('#feedback_message').show();
                  
                  //Hide window
                  // remove active class
                  $('#report_bug_trigger')
                    .removeClass('active');
                  // hide report_bug form after delay
                  $report_bug
                    .delay(5000)
                    .hide('slide', { direction: 'up' }, 500, function () {
                      $(this).html(empty_form)
                      });
                }
                else {
                  // TODO: show error message
                  $('#loader').replaceWith('There was an error submitting feedback. Uh oh.');                  
                  // don't clear message
                }
              });
            });
          });
        </script>
      <% } %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
