<% var title = 'Bitcoin Poker- Are you all in?'; %>
<% include head %>
    <div>
        <h1>Welcome to Bitcoin Poker v1.0</h1>
        <button autofocus name="button" type="button" />
        <a href="/lobby" class="button">Play, you very nice button.</a>
    </div>
    <% include plugins %>
<% include foot %>