<% var title = 'Bitcoin Poker- Welcome!'; %>
<% include head %>
		<div>
		    <h1>Welcome to Bitcoin Poker v<%= version %></h1>

		    <a href="/lobby"><button class="btn btn-custom" id="go_all_in" autofocus>Go in. All in.</button></a>
		</div>

		<div>
		  	<h1> Or </h1>
		  	<form action="/guest_login" method="post">
		    	<button class="btn btn-inverse">Play as Guest</button>
		  	</form>
		</div>
    <% include plugins %>
<% include foot %>