<% var title = 'Bitcoin Poker- Welcome!'; %>
<% include head %>
    <div id="container">
        <h1>Welcome to Bitcoin Poker</h1>
        <div id="button_groups"> 
            <% if (typeof user === 'undefined') { %>
                <h1>Choose one:</h1>
                <form action="/lobby" method="get">
                    <button id="go_all_in" class="btn btn-custom btn-large" title="Lobby">Lobby</button>
                </form>
                <form action="/register" method="get">
                    <button class="btn btn-success btn-large">Register</button>
                </form>
                <form action="/guest_login" method="post">
                    <button class="btn btn-inverse btn-large">Play as Guest</button>
                </form>
            <% } %>
        </div>
        <iframe src="/lobby" width="690" height="480">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div> <!-- container index -->
    <% include plugins %>
<% include foot %>