<% var title = 'Welcome to Bitcoin Poker!'; %>
<% include head %>
    <div id="container">
        <h1 id="welcome">
            Hello Bitcoin Poker world! You are in the lobby.
        </h1>


        <!--displays list of tables-->
        <% include table_list %>

        <!--display chat -->
        <div id="chat_lobby">
            <div id="chat_messages">
            </div>
            <form id="chat_form">
                <input type="text" id="chat_sender" placeholder="My Name" 
                    <% if (locals !== undefined && locals.username) { %>
                        value="<%= locals.username %>"
                    <% } %>
                />
                <input type="text" id="chat_message" placeholder="Message" />
                <input type="submit" id="chat_submit" value="Send Message" />
            </form>
        </div>


        <!--displays list of users-->
        <div id="users_lobby_wrapper">
            <% include users %>           
        </div>

        <!--include values to expose to scripts-->
        <input type="hidden" id="server_values" data-room_state="<%= room_state %>" />

    </div> <!-- container-->
        <% include plugins %>
        <script src="/js/jquery.dataTables.js"></script>
        <script src="/js/chat.js"></script>

        <!-- Datatable -->
        <script>
          $(document).ready(function() {
            $('#table_id').dataTable({
              "bJQueryUI": true,
              "sPaginationType": "full_numbers"
            });
          } );
        
        console.log($('#table_id tbody'));

        $('#table_id tbody').on('click', 'tr', function(e) {
          var table_name = $(this).attr('id');
          console.log(table_name);
          return popup(table_name, 'table_name');
        });

        </script>

<% include foot %>