<% var title = 'Welcome to Bitcoin Poker!'; %>
<% include head %>
    <div id="container">
        <h1 id="welcome">
            Hello Bitcoin Poker world! You are in the lobby.
        </h1>
        <div id="chat">
            <div id="chat_messages">
            </div>
            <form id="chat_form">
                <input type="text" id="chat_sender" placeholder="My Name" 
                    <% if (locals !== undefined && locals.username) { %>
                        value="<%= locals.username %>"
                    <% } %>
                />
                <input type="text" id="chat_message" placeholder="Message" />
                <input type="submit" id="chat_submit" value="Send Message" />
            </form>
        </div>

        <!--displays list of tables-->
        <% include table_list %>

        <!--displays list of users-->
        <% include users %>

    </div> <!-- container-->        
        <% include plugins %>
        <script src="/js/chat.js"></script>
<% include foot %>