<% var title = 'Welcome to Bitcoin Poker!'; %>
<% include head %>
    <div id="container">
        <!-- display list of tables -->
        <div id="table_list_lobby">
            <% include table_list %>
        </div>

        <!-- display chat -->
        <div id="chat_lobby" class="chat_container">
            <% include chat %>
        </div>

        <!-- include values to expose to scripts -->
        <input type="hidden" id="server_values" data-room_state="<%= room_state %>" />

    </div> <!-- container-->
    <% include plugins %>
    <!-- DataTable -->
    <script src="/js/jquery.dataTables.js"></script>
    <script>
    //$(document).ready(function() {
    $('#table_list').dataTable({
        bJQueryUI: true,
        sPaginationType: 'full_numbers',
        iDisplayLength: 20
    });
      //});

    $('#table_list tbody').on('click', 'tr', function(e) {
      var table_name = $(this).attr('id');
      return popup(table_name);
    });
    </script>

    <script src="/js/chat.js"></script>
<% include foot %>