<% var title = 'Bitcoin Poker- Lobby'; %>
<% include head_start %>
    <link rel="stylesheet" href="/css/bootstrap-switch.css" />
    <style>
        body {
            background-image: none;
        }
    </style>
<% include head_end_and_header %>
    <div id="container" class="row-fluid">
        <div>
        </div>
        <div class="row-fluid">
            <!-- display list of tables -->
            <div id="table_list_container" class="span10 offset1">
                <% include table_list %>
            </div>
            <% include users %>
        </div>
        <div class="row-fluid">
            <div class="chat_container row-fluid">
                <div id="chat_lobby" class="row-fluid">
                    <% include chat %>
                </div>
            </div>
            <!-- include values to expose to scripts -->
            <input type="hidden" id="server_values" data-room_state="<%= room_state %>" />
        </div>

    </div> <!-- container-->

    <% include plugins %>
    <!-- DataTable -->
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/table_list.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
<% include foot %>