 <% include head %>

<link rel="stylesheet" type="text/css" href="css/vendor/metro-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="metro-bootstrap-responsive.min.css">

    <div id="container" class="account">

    <div class = 'container-fluid'>
        <% include lottery_base %>
    </div> <!-- #container -->

    <% include plugins %>
<% include foot %>