 <% include head %>

<link rel="stylesheet" type="text/css" href="css/vendor/metro-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="metro-responsive.min.css">

    <div id="container" class="account">
        <h2>¡Entra la lotería!</h2>
        <br>
        <h4 style = 'color:white'>the lottery is currently free to enter!  the lottery pays 500 satoshi per entrant to the winner, every 12 hours!</h4>

        <form class="lottery_form" action="/enter_lottery" method="post">
            <input value="Entrame" type="submit" />
        </form>

        <br />
        <% if (typeof message === 'string') { %>
            <p class="inverse"><%= message %></p>
        <% } %>
        
    </div> <!-- container -->

    <% include plugins %>
<% include foot %>