<% include head %>

  <h4>Password Recovery</h4>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  <div id="main">
    <div>
      You done goofed. That's okay. Enter your <strong>username</strong>, and we'll help you out.
    </div>
    <form action="/password_recovery" method="post">
      <div class="username">
        <input type="text" name="username" placeholder="username" autofocus />
      </div>
      <div class="submit_button">
        <input type="submit" value="Recover Password" class="button" />
      </div>
      <% if (next) { %>
        <input type="hidden" name="next" value="<%= next %>" />
      <% } %>
    </form>
    <div>
      Don't have an e-mail linked to this account?  Well, you done goofed.
    </div>
  </div>

  <% include plugins %>
<% include foot %>