<% include head %>
  <div id="container">
    <div class="span8 center inverse"> 
      <h1>Reset your password.</h1>
      <% if (typeof message === 'string') { %>
        <p class="error"><%= message %></p>
      <% } %>
      <div id="main">
        <form action="/password_reset" method="post">
          <div class="password">
            <label>password:</label>
            <input type="password" name="password" autofocus />
          </div>
          <div class="password_confirm">
            <label>confirm password:</label>
            <input type="password" name="password_confirm"/>
          </div>
          <div class="email">
            <input type="hidden" name="email" value="<%= email %>" />
          </div>      
          <div class="recovery_code">
            <input type="hidden" name="recovery_code" value="<%= recovery_code %>" />
          </div>
          <div class="username">
            <input type="hidden" name="username" value="<%= username %>" />
          </div>
          <div lass="submit_button">
            <input type="submit" value="Boomcat!" class="button" />
          </div>
        </form>
      </div>
    </div> <!--inverse-->
  </div> <!--container-->

<% include plugins %>
<% include foot %>