<% include head %>
    <h1>
        Pick your username and password.
    </h1>
    <div id="container">
        <div class="span6 offset5 inverse"> 
            <h1>login</h1>
            <% if (message) { %>
                <p><%= message %></p>
            <% } %>
        
            <% if (message) { %>
                <p><%= message %></p>
            <% } %>
            <% if (mode === 'register') { %>
                <div>
                    <a href="/login"> Already have an account? Login here</a>
                    </br>
                </div>
            <% } %>
            <form id="register_form" action="/register" method="post">
                <div class="username">
                    <label for="username">Username:</label>
                    <input name="username" type="text" placeholder="username" required /><br/>
                </div>
                <div class="password">
                    <label>Password:</label>
                    <input name="new_password" type="password"  placeholder="password" required />
                </div>
                <div class="password">
                    <label>Confirm Password:</label>
                    <input name="new_password_confirm" type="password" placeholder="password (again)" required />
                </div>
                <div class="email">
                    <label>Email (optional):</label>
                    <input name="email" type="email" placeholder="name@domain.com" />
                </div>
                <div class="submit_button">
                    <input type="submit" value="Register" class="button"/>
                </div>
                <% if (next) { %>
                    <input type="hidden" name="next" value="<%= next %>" />
                <% } %>
            </form>
        </div>
    </div>
<% include plugins %>

<% include foot_start %>
    <script> $('#register_form').validate(); </script>
<% include foot_end %>