<% include head %>
    <div id="container">
        <h1>
            Pick your username and password.
        </h1>
        <div class="span8 center inverse"> 
            <% if (typeof message === 'string') { %>
                <p class="error"><%= message %></p>
            <% } %>
            <% if (mode === 'register') { %>
                <div>
                    <a href="/login<%= next ? '?next=' + next : '' %>">
                        Already have an account? Login here.
                    </a>
                    </br>
                </div>
            <% } %>
            <form id="register_form" action="/register" method="post">
                <div class="username">
                    <label for="username">Username:</label>
                    <input id="username" name="username" type="text" placeholder="username" autofocus required remote="/check_username" />
                </div>
                <div class="password">
                    <label for="new_password">Password:</label>
                    <input id="new_password" name="new_password" type="password"  placeholder="password" required />
                </div>
                <div class="password">
                    <label for="new_password_confirm">Confirm Password:</label>
                    <input id="new_password_confirm" name="new_password_confirm" type="password" placeholder="password (again)" required equalTo="#new_password" />
                </div>
                <div class="email">
                    <label for="email">Email (optional):</label>
                    <input id="email" name="email" type="email" placeholder="name@domain.com" />
                </div>
                <div class="submit_button">
                    <input type="submit" value="Register" class="button btn btn-inverse"/>
                </div>
                <% if (next) { %>
                    <input type="hidden" name="next" value="<%= next %>" />
                <% } %>
            </form>
        </div>
    </div>
<% include plugins %>

<% include foot_start %>
    <script>
    $(function() {
      $('#register_form').validate();
    });
    </script>
<% include foot_end %>