        <div id="users">
            <h3>Users</h3>
            <ul>
                <% for (var i = 0, len = users.length; i < len; i++) {
                var user = users[i].username; %>
                  <li id= <%= user %>>
                    <%= user  %>
                    <% console.log("printing " + user + "to users list."); %>
                  </li>
                <% }; %>
            </ul>
        </div>