<% include head %>
    <div id="container" class="inverse">
        <h1> Withdraw Bitcoins </h1>
        <form action ="/withdraw_bitcoins" method="post" class="form-inline">
            Account balance (in BTC): <%= bitcoins %>
            <br />
            <label for="withdraw_address">Address to transfer to: </label>
            <input type="text" id="withdraw_address" name="withdraw_address" placeholder="1HmwtpPsAfAj9ynKh6ACaDmeztMLy2cBmT" />
            <br />
            <label for="amount">Amount to withdraw: </label>
            <input type="text" id="amount" name="amount" placeholder="0" />
            <br />
            <button class="btn btn-danger">Give me my BTC!</button>
        </form>
    </div>
    <% include plugins %>
<% include foot %>