@font-face {
    /*font found at http://www.fontsquirrel.com/fonts/Destroy*/
    font-family: "DESTROY";
    src: url(/DESTROY.ttf) format("truetype");
}

@font-face {
    /* http://www.fontspace.com/jonathan-hill/planer */
    font-family: "Planer_Reg";
    src: url(/Planer_Reg.otf) format("opentype");
}

header {
    font-family: Planer_Reg, Helvetica, sans-serif;
    position: fixed;
    z-index: 1;
}



@media all and (min-width: 762px) {

}
.navbar {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    height: 1.625em; /*26px/16px*/
}

.navbar ul {
    margin: 0px;
    padding: 3px;
}

.navbar li {
    display: inline;
    float: left;
    background: black;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: center;
    color: #FFFFCC;
}

.navbar li.right {
    float: right;
}

.navbar a {
    display: block;
    text-decoration: none;
}

.navbar > ul > li > ul {
    background-color: black;
    position: absolute;
    width: 7em;
    font-size: .9em;
    left: -999em;
}

.navbar a:link    { color: white; }
.navbar a:visited { color: #CCCCCC; }
.navbar a:hover   { color: red; }
.navbar a.current_page  { color: chartreuse; }
.navbar a#lobby_trigger  { color: orange; }
.navbar a#lobby_trigger:hover  { color: red; }


.navbar li:hover ul, .navbar li ul:hover {
    overflow: visible;
    left:auto;
}
/* I can't remember what this was for, so I'm commenting it out, as it's breaking the temporary bitcoin info page h3
h3 {
    font-size: 1em;
    color: #efefff;
    text-align: center;
    margin: 0px auto 0 auto;
    margin-bottom: 20px;
}
*/

#feedback_message {
    display: none;
}

#loader {
    display: none;
}

#lobby {
    background-color: rgba(0,0,0,0);
    min-width: 650px;
    position: absolute;
    display: none;
    font-size: .8em;
    text-align: center;
    z-index: 10;
}

.dropdown_form {
    background-color: rgba(0,0,0,.88);
    color: #CCCCCC;
    min-width: 200px;
    position: absolute;
    display: none;
    font-size: .8em;
    padding: 1em;
    text-align: center;
}

#report_bug {
    height: 275px;
    width: 275px;
}

#report_bug_textarea {
    width: 95%;
}

#login form {
    margin-bottom: 1em;
}

#login a:visited {
    color: #2f96b4;
}

#login input, #register input {
    width: 150px;
}

#account {
    width: 260px;
    position: absolute;
    display: none;
}

.footer {
    color: #FFFFCC;
    font-family: DESTROY, sans-serif;   
    background: black;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    bottom:0;
    left: 0;
    width: 100%;
    font-size: 1em;
    padding: 0;
    margin: 0;
    height: 1.625em; /*26px/16px*/
}

.footer * {
    display: inline;
}

.footer li {
    color: white;
}