        /*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    height: 100%;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    /* fix for white spacing on right side */
    overflow-x: hidden;
}

body {
    background: black;
    /*
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: -o-calc(100% - 50px);
    height: calc(100% - 50px);    
    min-height: -moz-calc(100% - 50px);
    min-height: -webkit-calc(100% - 50px);
    min-height: -o-calc(100% - 50px);
    min-height: calc(100% - 50px);
    */
    height:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-content:stretch;
}

body header {
    flex-grow:0;
    flex-shrink:0;
}

h1 {
    font-size: 2em; /* 24px/16 */
    padding-top: 1em;
}

h2 {
    font-size: 1.4em; /* 22px/16 */
}

#account {
    background-color: rgba(0, 0, 0, .8);
    display: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    text-align: left;
    position: relative;
}

#account_info {
    background-color: rgba(0, 0, 0, .9);
    font-size: 1.2em;
    height: 100%;
    width: 100%;
}

.nav li a.active {
    color: white;
}

#bug_submit {
    margin: 1em;
}

#button_groups {
    margin: 2em;
}

#button_groups > form {
    display: inline;
    margin-left: .1em;
    margin-right: .1em;
}

#container {
    clear: both;
    /*
    width: 100%;
    height:100%;
    */
    margin: 0;
    height:inherit;
  /*  min-height: 100%;*/
    position: relative;
}

#container.account {
    height: 100%;
}

#container.lobby {
    margin-top: 0;
}

#container h1, #container h2,  #container h3 {
    color: #DDDDDD;
    font-family: Planer_Reg, "Helvetica Neue", Helvetica, sans-serif;
}

#chat_form {
    margin: auto;
    /*width: 690px;*/
}

#chat_form input {
    background-color: #ccc;
}

#chat_messages {
    background-color: #ccc;
    min-height: 3em;
    max-height: 6em;
    margin: 1em auto;
    overflow: auto;
    border: .02em solid #ddd;
    border-radius: .5em;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
}

#chat_messages p {
    word-wrap: break-word;
    margin: 0;
    border-bottom: .02 solid black;
    text-align: left;
}

#chat_sender, #chat_submit {
    clear: both;
    width: 24%;
}

#chat_message {
    padding: 0 2em;
}

#faq {
    font-size: 1.12em;
    min-width: 620px;
    max-width: 900px;
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
    height: auto;
}

#faq > h1 {
    font-size:55px;
    padding-top: 0;
}

#faq > section {
    margin-left: 15px;
}
#faq ul {
    margin-left: 15px;
    padding-left:0px;
}

#faq_dropdown {
    z-index: 1000;
}

#funbucks_leaderboard, #satoshi_leaderboard {
    max-width: 600px;
}



#lobby {
    margin-left: auto;
    margin-right: auto;
}

#welcome{

margin-top:2vh;
margin-left:0%;
margin-right:0%;
padding:0;
font-size:3em;

}

#welcome_page_container{

display:flex;
justify-content:flex-start;
flex-wrap:nowrap;
flex-direction:column;
align-items:stretch;
width:100%;
height:100%;
margin:0;
border:0;
padding:0;
}

#welcome_teaser{
    justify-content:flex-start;
    flex-direction:column;
display:flex;
flex-wrap:wrap;
flex-grow:0;
align-items:stretch;
/*
margin-left:6%;
margin-right:6%;
*/
}

#welcome_teaser > div{

margin-left:auto;
margin-right:auto;
}

#welcome_teaser .selling_point_container{

display:flex;
flex-direction:row;
justify-content:flex-start;
flex-wrap:wrap;
align-content:flex-start;
flex-grow:0.5;
margin-top:3%;
margin-bottom:3%;
width:98.5vw;
margin-right:1.5vw;
margin-left:0%;
align-items:stretch;
}



#welcome_teaser .selling_point_tile {

flex-grow:1;
min-width:31vw;
min-height:88px;
height:90px;
max-height:130px;
margin-left:1.5vw;
margin-right:0%;
margin-top:0;
margin-bottom:1.5vw;
}

@media screen and  (max-width: 767px){
#welcome_teaser .selling_point_tile {width:40%;
}
}

@media screen and  (max-width: 390px){
#welcome_teaser .selling_point_tile {
    width:90%;
}
}


#welcome_teaser .selling_point {

flex-direction:column;
justify-content:space-around;
display:flex;
width:100%;
height:100%;

}

#welcome_teaser .selling_point_text{

margin-left:7%;
margin-right:7%;
margin-top:0%;
margin-bottom:0%;
/*
font-size:calc(1px + 1.5em);
*/

}


/*
#welcome_teaser > div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:35%;
    vertical-align: middle;
    margin-left: 1%
    margin-right:1%;
    margin-top:1%;

margin-bottom:1%;
background:red;
}

#welcome_teaser >div >div{

    vertical-align:middle;
}
*/



#iframe_container
{

    text-align: left;
    margin: 0;
    position: absolute;
left:0;
top:0;
display:flex;
    height: 100% ;
    width: 100%;
    overflow:auto;

}

.table_0{
    left:0;
    top:0;
}

.table_1{
    left:-webkit-calc(100% - 665px);
    left:-moz-calc(100% - 665px);
    left:calc(100% - 665px);
    top:0;
}

.table_2{
left:0;
bottom:0;
}

.table_3{
    left:-webkit-calc(100% - 665px);
    left:-moz-calc(100% - 665px);
    left:calc(100% - 665px);
    bottom:0;
}

.table_4{
left:0;
top:50%;
}

.table_5{
top:0;
left:50%;
}

.table_6{
right:0;
top:50%;
}

.table_7{
left:50%;
bottom:0;
}

#nav-collapse-1 {
    border: none;
}

#play_as_guest {
    margin: .5em;
}

#set_email_error {
    color: red;
}

/*datatables table list */
#table_list {
    position: relative;    
    text-align: left;
}

#table_list tr {
    cursor: pointer;
}

#table_list_wrapper th .DataTables_sort_wrapper {
    display: inline;
}

#users {
    background-color: rgba(51,51,51,1);
    border: none;
    color: #EEE;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: .5em;
}

#users > h5 {
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
    margin-top: 0;
}

#user_list {
    list-style-type: none;
    margin-left: 0;
}


.chat_container {
    position: relative; 
    max-width: 720px;
    margin: auto;
}

.inverse {
    color: #ccc;
}

.leaderboard {
    clear: none;
    float: left;
    width: 50%;
}

.main {
    list-style-type: none;
    overflow: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 92%;
    opacity: .9;
}

.main h1, .main h2, .main h3 {
    color: #111111 !important;
}
.iframe {
    width: auto;
    height: 470px; /* MANUALLY HUMAN CALCULATED AUTO GIVES 474 PX.  SHOULD FIX THIS LATER*/
    width:auto;
    display: inline;
    position: absolute;
    overflow:hidden;
}


.iframe_header {
    line-height: 15px;
    font-family: Planer_Reg, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 550;
    height: 16px;
    background-color: rgba(250,250,250, .95);
    cursor: default;
    padding-top: 1px;
    text-align: center;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

.error {
    color: red;
}

.center {
    margin: 0 auto !important;
    float: none !important;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Custom Buttons */
.btn-custom {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-darkest {
  color: #ffffff;
  background-color: #777777;
  border-color: #777777;
}
.btn-darkest:hover,
.btn-darkest:focus,
.btn-darkest:active,
.btn-darkest.active,
.open .dropdown-toggle.btn-darkest {
  color: #ffffff;
  background-color: #636363;
  border-color: #585858;
}
.btn-darkest:active,
.btn-darkest.active,
.open .dropdown-toggle.btn-darkest {
  background-image: none;
}
.btn-darkest.disabled,
.btn-darkest[disabled],
fieldset[disabled] .btn-darkest,
.btn-darkest.disabled:hover,
.btn-darkest[disabled]:hover,
fieldset[disabled] .btn-darkest:hover,
.btn-darkest.disabled:focus,
.btn-darkest[disabled]:focus,
fieldset[disabled] .btn-darkest:focus,
.btn-darkest.disabled:active,
.btn-darkest[disabled]:active,
fieldset[disabled] .btn-darkest:active,
.btn-darkest.disabled.active,
.btn-darkest[disabled].active,
fieldset[disabled] .btn-darkest.active {
  background-color: #777777;
  border-color: #777777;
}

.btn-custom-black3 {
    background-color: #1c1d1e;
    border-color: #0f1011;
    color: white;
}
.btn-custom-black3:hover,
.btn-custom-black3:focus,
.btn-custom-black3:active,
.btn-custom-black3.active {
    background-color: #282a2b;
    border-color: #282a2b;
    color: white;
}
.btn-custom-black3.disabled:hover,
.btn-custom-black3.disabled:focus,
.btn-custom-black3.disabled:active,
.btn-custom-black3.disabled.active,
.btn-custom-black3[disabled]:hover,
.btn-custom-black3[disabled]:focus,
.btn-custom-black3[disabled]:active,
.btn-custom-black3[disabled].active,
fieldset[disabled] .btn-custom-black3:hover,
fieldset[disabled] .btn-custom-black3:focus,
fieldset[disabled] .btn-custom-black3:active,
fieldset[disabled] .btn-custom-black3.active {
  background-color: #00000;
  border-color: #00000;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
