*{
    position: absolute;
            position:absolute;
        margin-left:0px;
        margin-top: 0px;
       margin-bottom:0px;
           margin-right:0px;
           padding:0px;
           text-align:left;
white-space: nowrap;

}

body {
    padding-left: 0;
    padding-right: 0;
}

#cashier{
    display:none;
}

#pokerCanvasDiv {
    position: absolute;
}
#cashier input[type = 'text']{
    background-image:url(img/cashier_textbox_bg.jpg);
	background-repeat:repeat;
	border:1px solid #d1c7ac;
	color:#333333;
	font-family:tahoma, arial, sans-serif;
    z-index: 1;
    text-align: left;
}
#chatDiv input[type = 'text']{
   background: transparent url('img/chat_bg.jpg') no-repeat;
	border:0;
	color : #747862;
	margin-right:0px;
	font-family:tahoma, arial, sans-serif;
    position: absolute;
    z-index: 1;
    display: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
}
#betSizeDiv input[type = 'text']{
   background: #FFFFFF;
    border:0;
    color : #747862;
    margin-right:0px;
    font-family:tahoma, arial, sans-serif;
    position: absolute;
    z-index: 1;
    display: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
}
