module.exports = {
  DB_HOST: 'mongo.onmodulus.net'
, MONGOLAB_DB_HOST: 'ds043957.mongolab.com'
, DB_PORT: 27017
, MONGOLAB_DB_PORT: 43957
, DB_NAME: 'p8irUsar'
, MONGOLAB_DB_NAME: 'btcp-db'
, DB_USER: 'btcp'
, DB_PASSWORD: '&&H#8fSa$J8d@2YwwRZNX9TezVRrPbsC'
, MONGOLAB_DB_PASSWORD: 'PGz6LaHVXPwmNgKP8wn2yiH26Hge9fwb'
, TEST_USERNAME: 'testuser'
, TEST_PASSWORD: 'testpassword'
//Bitcoin constants
, WALLET_ID: '7c443d5e-dcc9-d13f-88f8-5dcec37fac33'
, WALLET_PASSWORD: 'Ace2three!four57six19boss@?FM'
};

//command line commands:

//connect to DB:
//mongo ds043957.mongolab.com:43957/btcp-db -u btcp -p PGz6LaHVXPwmNgKP8wn2yiH26Hge9fwb

//import into DB from file
//mongoimport -h ds043957.mongolab.com:43957 -d btcp-db -u btcp -p PGz6LaHVXPwmNgKP8wn2yiH26Hge9fwb -c [collection_name] [file.json]

//export from DB into file
//mongoexport -h ds043957.mongolab.com:43957 -d btcp-db -u btcp -p PGz6LaHVXPwmNgKP8wn2yiH26Hge9fwb -c [collection_name] > [file.json]

